
<form action="/auth/signup" method="post" class="form" enctype="multipart/form-data">
    <h1>Signup</h1>
    
    <label for="username" class="label">your username</label>
    <input type="text" class="input" id="username" name ="username" value="enter your username">

    <label for="email" class="label">email</label>
    <input type="text" class="input" id="email" name="email" value="enter your email">

    <label for="password" class="label">password</label>
    <input type="password" class="input" id="password" name="password" value="***">

    <div>
        <label for="avatar" class="label">
            avatar
            <i class="icon fas fa-cloud-upload-alt fa-1x"></i>
        </label>
        <input class="is-hidden" class="input" type="file" id="avatar" name="avatar">

    </div>

    
    <div>
            <button class="btn">Create</button>
    </div>

</form>