<form action="/auth/signin" method="post" class="form">
    <h1>Sign in</h1>
    
    <label for="email" class="label">email</label>
    <input type="text" class="input" id="email" name="email" value="enter your email">

    <label for="password" class="label">password</label>
    <input type="password" class="input" id="password" name="password" value="***">
    
    <div>
            <button class="btn">Sign in</button>
    </div>

</form>