<nav id="nav-main">
    <a href="/" title="homepage" class="link"><i class="fas fa-home fa-1x"></i></a>
    <a href="/all-artists" title="all artists" class="link"><i class="fas fa-music fa-1x"></i></a>
    <a href="/all-styles" title="all styles" class="link"><i class="fas fa-sliders-h fa-1x"></i></a>
    <a href="/all-albums" title="all albums" class="link"><i class="fas fa-record-vinyl"></i></a>
    <a href="/dashboard" title="dashboard" class="link"><i class="fa fa-user fa-1x"></i></a>
</nav>