<h1 class="title">Home of music lovers</h1>
<p>
    Music is <b>life</b> !<br>
    <b>Welcome</b> to Artistify, a fullstack application powered by expressjs, mongodb and hbs.
</p>

<hr>

<h2 class="title">Titi OR Toto ?</h2>
<p>
    {{titiOrToto}}
</p>
<p>
    The string just above is computed in ./helpers/hbs.js
</p>

<h2>bonus</h2>
<ul>
    <li>display all related album, if any, in each artist detail page</li>
    <li><b><i>carte blanche</i></b> use chart.js or d3.js to create a nice data visualisation in the dashboard index
    </li>
</ul>